In [54]:
#import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [179]:
#set no limit for viewing columns
pd.set_option('display.max_columns', None)

In [180]:
#Define path
path = r'/Users/arturassada/Desktop/Brazilian E-Commerce'

In [182]:
#importing data into Jupyter

In [183]:
customers = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'olist_customers_dataset.csv'))

In [184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115723 entries, 0 to 118309
Data columns (total 34 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115723 non-null  object
 1   order_item_id                  115723 non-null  int64
 2   product_id                     115723 non-null  object
 3   seller_id                      115723 non-null  object
 4   shipping_limit_date            115723 non-null  object
 5   price                          115723 non-null  float64
 6   freight_value                  115723 non-null  float64
 7   customer_id                    115723 non-null  object
 8   order_status                   115723 non-null  object
 9   order_purchase_timestamp       115723 non-null  object
 10  order_approved_at              115708 non-null  object
 11  review_id                      114862 non-null  object
 12  review_score                   114862 non-null  float64
 13  review_comment_title           13584 non-null   object
 14  customer_unique_id             115723 non-null  object
 15  customer_zip_code_prefix       115723 non-null  int64
 16  customer_city                  115723 non-null  object
 17  customer_state                 115723 non-null  object
 18  product_category_name          114085 non-null  object
 19  product_name_lenght            114085 non-null  float64
 20  product_description_lenght     114085 non-null  float64
 21  product_photos_qty             114085 non-null  float64
 22  product_weight_g               115703 non-null  float64
 23  product_length_cm              115703 non-null  float64
 24  product_height_cm              115703 non-null  float64
 25  product_width_cm               115703 non-null  float64
 26  seller_zip_code_prefix         115723 non-null  int64
 27  seller_city                    115723 non-null  object
 28  seller_state                   115723 non-null  object
 29  product_category_name_english  114062 non-null  object
 30  payment_sequential             115720 non-null  float64
 31  payment_type                   115720 non-null  object
 32  payment_installments           115720 non-null  float64
 33  payment_value                  115720 non-null  float64
dtypes: float64(13), int64(3), object(18)
memory usage: 30.9+ MB

In [185]:
geo = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'olist_geolocation_dataset.csv'))

In [186]:
geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [187]:
order_items = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'olist_order_items_dataset.csv'))

In [188]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [189]:
payments = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'olist_order_payments_dataset.csv'))

In [190]:
order_reviews = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'olist_order_reviews_dataset.csv'))

In [191]:
orders = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'olist_orders_dataset.csv'))

In [192]:
products = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'olist_products_dataset.csv'))

In [193]:
sellers = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'olist_sellers_dataset.csv'))

In [194]:
translation = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'product_category_name_translation.csv'))

In [195]:
order_items['order_id'].value_counts()

8272b63d03f5f79c56e9e4120aec44ef    21
1b15974a0141d54e36626dca3fdc731a    20
ab14fdcfbe524636d65ee38360e22ce8    20
9ef13efd6949e4573a18964dd1bbe7f5    15
428a2f660dc84138d969ccd69a0ab6d5    15
                                    ..
5a0911d70c1f85d3bed0df1bf693a6dd     1
5a082b558a3798d3e36d93bfa8ca1eae     1
5a07264682e0b8fbb3f166edbbffc6e8     1
5a071192a28951b76774e5a760c8c9b7     1
fffe41c64501cc87c801fd61db3f6244     1
Name: order_id, Length: 98666, dtype: int64

In [196]:
merged_df = pd.merge(order_items, orders, on='order_id', how='left')

In [197]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 14 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       112650 non-null  object
 1   order_item_id                  112650 non-null  int64
 2   product_id                     112650 non-null  object
 3   seller_id                      112650 non-null  object
 4   shipping_limit_date            112650 non-null  object
 5   price                          112650 non-null  float64
 6   freight_value                  112650 non-null  float64
 7   customer_id                    112650 non-null  object
 8   order_status                   112650 non-null  object
 9   order_purchase_timestamp       112650 non-null  object
 10  order_approved_at              112635 non-null  object
 11  order_delivered_carrier_date   111456 non-null  object
 12  order_delivered_customer_date  110196 non-null  object
 13  order_estimated_delivery_date  112650 non-null  object
dtypes: float64(2), int64(1), object(11)
memory usage: 12.9+ MB

In [198]:
merged_df.head(5)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00

In [199]:
merged_df1 = pd.merge(merged_df, order_reviews, on='order_id', how='left')

In [200]:
merged_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113314 entries, 0 to 113313
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113314 non-null  object
 1   order_item_id                  113314 non-null  int64
 2   product_id                     113314 non-null  object
 3   seller_id                      113314 non-null  object
 4   shipping_limit_date            113314 non-null  object
 5   price                          113314 non-null  float64
 6   freight_value                  113314 non-null  float64
 7   customer_id                    113314 non-null  object
 8   order_status                   113314 non-null  object
 9   order_purchase_timestamp       113314 non-null  object
 10  order_approved_at              113299 non-null  object
 11  order_delivered_carrier_date   112111 non-null  object
 12  order_delivered_customer_date  110839 non-null  object
 13  order_estimated_delivery_date  113314 non-null  object
 14  review_id                      112372 non-null  object
 15  review_score                   112372 non-null  float64
 16  review_comment_title           13434 non-null   object
 17  review_comment_message         47642 non-null   object
 18  review_creation_date           112372 non-null  object
 19  review_answer_timestamp        112372 non-null  object
dtypes: float64(3), int64(1), object(16)
memory usage: 18.2+ MB

In [201]:
merged_df2 = pd.merge(merged_df1, customers, on='customer_id', how='left')

In [202]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113314 entries, 0 to 113313
Data columns (total 24 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113314 non-null  object
 1   order_item_id                  113314 non-null  int64
 2   product_id                     113314 non-null  object
 3   seller_id                      113314 non-null  object
 4   shipping_limit_date            113314 non-null  object
 5   price                          113314 non-null  float64
 6   freight_value                  113314 non-null  float64
 7   customer_id                    113314 non-null  object
 8   order_status                   113314 non-null  object
 9   order_purchase_timestamp       113314 non-null  object
 10  order_approved_at              113299 non-null  object
 11  order_delivered_carrier_date   112111 non-null  object
 12  order_delivered_customer_date  110839 non-null  object
 13  order_estimated_delivery_date  113314 non-null  object
 14  review_id                      112372 non-null  object
 15  review_score                   112372 non-null  float64
 16  review_comment_title           13434 non-null   object
 17  review_comment_message         47642 non-null   object
 18  review_creation_date           112372 non-null  object
 19  review_answer_timestamp        112372 non-null  object
 20  customer_unique_id             113314 non-null  object
 21  customer_zip_code_prefix       113314 non-null  int64
 22  customer_city                  113314 non-null  object
 23  customer_state                 113314 non-null  object
dtypes: float64(3), int64(2), object(19)
memory usage: 21.6+ MB

In [203]:
merged_df3 = pd.merge(merged_df2, products, on='product_id', how='left')

In [204]:
merged_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113314 entries, 0 to 113313
Data columns (total 32 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113314 non-null  object
 1   order_item_id                  113314 non-null  int64
 2   product_id                     113314 non-null  object
 3   seller_id                      113314 non-null  object
 4   shipping_limit_date            113314 non-null  object
 5   price                          113314 non-null  float64
 6   freight_value                  113314 non-null  float64
 7   customer_id                    113314 non-null  object
 8   order_status                   113314 non-null  object
 9   order_purchase_timestamp       113314 non-null  object
 10  order_approved_at              113299 non-null  object
 11  order_delivered_carrier_date   112111 non-null  object
 12  order_delivered_customer_date  110839 non-null  object
 13  order_estimated_delivery_date  113314 non-null  object
 14  review_id                      112372 non-null  object
 15  review_score                   112372 non-null  float64
 16  review_comment_title           13434 non-null   object
 17  review_comment_message         47642 non-null   object
 18  review_creation_date           112372 non-null  object
 19  review_answer_timestamp        112372 non-null  object
 20  customer_unique_id             113314 non-null  object
 21  customer_zip_code_prefix       113314 non-null  int64
 22  customer_city                  113314 non-null  object
 23  customer_state                 113314 non-null  object
 24  product_category_name          111702 non-null  object
 25  product_name_lenght            111702 non-null  float64
 26  product_description_lenght     111702 non-null  float64
 27  product_photos_qty             111702 non-null  float64
 28  product_weight_g               113296 non-null  float64
 29  product_length_cm              113296 non-null  float64
 30  product_height_cm              113296 non-null  float64
 31  product_width_cm               113296 non-null  float64
dtypes: float64(10), int64(2), object(20)
memory usage: 28.5+ MB

In [205]:
merged_df4 = pd.merge(merged_df3, sellers, on='seller_id', how='left')

In [206]:
merged_df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113314 entries, 0 to 113313
Data columns (total 35 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113314 non-null  object
 1   order_item_id                  113314 non-null  int64
 2   product_id                     113314 non-null  object
 3   seller_id                      113314 non-null  object
 4   shipping_limit_date            113314 non-null  object
 5   price                          113314 non-null  float64
 6   freight_value                  113314 non-null  float64
 7   customer_id                    113314 non-null  object
 8   order_status                   113314 non-null  object
 9   order_purchase_timestamp       113314 non-null  object
 10  order_approved_at              113299 non-null  object
 11  order_delivered_carrier_date   112111 non-null  object
 12  order_delivered_customer_date  110839 non-null  object
 13  order_estimated_delivery_date  113314 non-null  object
 14  review_id                      112372 non-null  object
 15  review_score                   112372 non-null  float64
 16  review_comment_title           13434 non-null   object
 17  review_comment_message         47642 non-null   object
 18  review_creation_date           112372 non-null  object
 19  review_answer_timestamp        112372 non-null  object
 20  customer_unique_id             113314 non-null  object
 21  customer_zip_code_prefix       113314 non-null  int64
 22  customer_city                  113314 non-null  object
 23  customer_state                 113314 non-null  object
 24  product_category_name          111702 non-null  object
 25  product_name_lenght            111702 non-null  float64
 26  product_description_lenght     111702 non-null  float64
 27  product_photos_qty             111702 non-null  float64
 28  product_weight_g               113296 non-null  float64
 29  product_length_cm              113296 non-null  float64
 30  product_height_cm              113296 non-null  float64
 31  product_width_cm               113296 non-null  float64
 32  seller_zip_code_prefix         113314 non-null  int64
 33  seller_city                    113314 non-null  object
 34  seller_state                   113314 non-null  object
dtypes: float64(10), int64(3), object(22)
memory usage: 31.1+ MB

In [207]:
merged_df4.head(5)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,97ca439bc427b48bc1cd7177abe71365,5.0,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,7b07bacd811c4117b742569b04ce3580,4.0,NaN,NaN,2017-05-13 00:00:00,2017-05-15 11:34:13,eb28e67c4c0b83846050ddfb8a35d051,15775,santa fe do sul,SP,pet_shop,56.0,239.0,2.0,30000.0,50.0,30.0,40.0,3471,sao paulo,SP
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00,0c5b33dea94867d1ac402749e5438e8b,5.0,NaN,Chegou antes do prazo previsto e o produto sur...,2018-01-23 00:00:00,2018-01-23 16:06:31,3818d81c6709e39d06b2738a8d3a2474,35661,para de minas,MG,moveis_decoracao,59.0,695.0,2.0,3050.0,33.0,13.0,33.0,37564,borda da mata,MG
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00,f4028d019cb58564807486a6aaf33817,4.0,NaN,NaN,2018-08-15 00:00:00,2018-08-15 16:39:01,af861d436cfc08b2c2ddefd0ba074622,12952,atibaia,SP,perfumaria,42.0,480.0,1.0,200.0,16.0,10.0,15.0,14403,franca,SP
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00,940144190dcba6351888cafa43f3a3a5,5.0,NaN,Gostei pois veio no prazo determinado .,2017-03-02 00:00:00,2017-03-03 10:54:59,64b576fb70d441e8f1b2d7d446e483c5,13226,varzea paulista,SP,ferramentas_jardim,59.0,409.0,1.0,3750.0,35.0,40.0,30.0,87900,loanda,PR

In [208]:
merged_df5 = pd.merge(merged_df4, geo, on='seller_zip_code_prefix', how='left')

KeyError: 'seller_zip_code_prefix'

In [209]:
merged_df5 = pd.merge(merged_df4, translation, on='product_category_name', how='left')

In [210]:
merged_df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113314 entries, 0 to 113313
Data columns (total 36 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113314 non-null  object
 1   order_item_id                  113314 non-null  int64
 2   product_id                     113314 non-null  object
 3   seller_id                      113314 non-null  object
 4   shipping_limit_date            113314 non-null  object
 5   price                          113314 non-null  float64
 6   freight_value                  113314 non-null  float64
 7   customer_id                    113314 non-null  object
 8   order_status                   113314 non-null  object
 9   order_purchase_timestamp       113314 non-null  object
 10  order_approved_at              113299 non-null  object
 11  order_delivered_carrier_date   112111 non-null  object
 12  order_delivered_customer_date  110839 non-null  object
 13  order_estimated_delivery_date  113314 non-null  object
 14  review_id                      112372 non-null  object
 15  review_score                   112372 non-null  float64
 16  review_comment_title           13434 non-null   object
 17  review_comment_message         47642 non-null   object
 18  review_creation_date           112372 non-null  object
 19  review_answer_timestamp        112372 non-null  object
 20  customer_unique_id             113314 non-null  object
 21  customer_zip_code_prefix       113314 non-null  int64
 22  customer_city                  113314 non-null  object
 23  customer_state                 113314 non-null  object
 24  product_category_name          111702 non-null  object
 25  product_name_lenght            111702 non-null  float64
 26  product_description_lenght     111702 non-null  float64
 27  product_photos_qty             111702 non-null  float64
 28  product_weight_g               113296 non-null  float64
 29  product_length_cm              113296 non-null  float64
 30  product_height_cm              113296 non-null  float64
 31  product_width_cm               113296 non-null  float64
 32  seller_zip_code_prefix         113314 non-null  int64
 33  seller_city                    113314 non-null  object
 34  seller_state                   113314 non-null  object
 35  product_category_name_english  111678 non-null  object
dtypes: float64(10), int64(3), object(23)
memory usage: 32.0+ MB

In [211]:
merged_df6 = pd.merge(merged_df5, payments, on='order_id', how='left')

In [212]:
merged_df6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118310 entries, 0 to 118309
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118310 non-null  object
 1   order_item_id                  118310 non-null  int64
 2   product_id                     118310 non-null  object
 3   seller_id                      118310 non-null  object
 4   shipping_limit_date            118310 non-null  object
 5   price                          118310 non-null  float64
 6   freight_value                  118310 non-null  float64
 7   customer_id                    118310 non-null  object
 8   order_status                   118310 non-null  object
 9   order_purchase_timestamp       118310 non-null  object
 10  order_approved_at              118295 non-null  object
 11  order_delivered_carrier_date   117056 non-null  object
 12  order_delivered_customer_date  115722 non-null  object
 13  order_estimated_delivery_date  118310 non-null  object
 14  review_id                      117332 non-null  object
 15  review_score                   117332 non-null  float64
 16  review_comment_title           13892 non-null   object
 17  review_comment_message         49682 non-null   object
 18  review_creation_date           117332 non-null  object
 19  review_answer_timestamp        117332 non-null  object
 20  customer_unique_id             118310 non-null  object
 21  customer_zip_code_prefix       118310 non-null  int64
 22  customer_city                  118310 non-null  object
 23  customer_state                 118310 non-null  object
 24  product_category_name          116601 non-null  object
 25  product_name_lenght            116601 non-null  float64
 26  product_description_lenght     116601 non-null  float64
 27  product_photos_qty             116601 non-null  float64
 28  product_weight_g               118290 non-null  float64
 29  product_length_cm              118290 non-null  float64
 30  product_height_cm              118290 non-null  float64
 31  product_width_cm               118290 non-null  float64
 32  seller_zip_code_prefix         118310 non-null  int64
 33  seller_city                    118310 non-null  object
 34  seller_state                   118310 non-null  object
 35  product_category_name_english  116576 non-null  object
 36  payment_sequential             118307 non-null  float64
 37  payment_type                   118307 non-null  object
 38  payment_installments           118307 non-null  float64
 39  payment_value                  118307 non-null  float64
dtypes: float64(13), int64(3), object(24)
memory usage: 37.0+ MB

In [213]:
all_dfs_merged=merged_df6

In [214]:
merged_df6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118310 entries, 0 to 118309
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118310 non-null  object
 1   order_item_id                  118310 non-null  int64
 2   product_id                     118310 non-null  object
 3   seller_id                      118310 non-null  object
 4   shipping_limit_date            118310 non-null  object
 5   price                          118310 non-null  float64
 6   freight_value                  118310 non-null  float64
 7   customer_id                    118310 non-null  object
 8   order_status                   118310 non-null  object
 9   order_purchase_timestamp       118310 non-null  object
 10  order_approved_at              118295 non-null  object
 11  order_delivered_carrier_date   117056 non-null  object
 12  order_delivered_customer_date  115722 non-null  object
 13  order_estimated_delivery_date  118310 non-null  object
 14  review_id                      117332 non-null  object
 15  review_score                   117332 non-null  float64
 16  review_comment_title           13892 non-null   object
 17  review_comment_message         49682 non-null   object
 18  review_creation_date           117332 non-null  object
 19  review_answer_timestamp        117332 non-null  object
 20  customer_unique_id             118310 non-null  object
 21  customer_zip_code_prefix       118310 non-null  int64
 22  customer_city                  118310 non-null  object
 23  customer_state                 118310 non-null  object
 24  product_category_name          116601 non-null  object
 25  product_name_lenght            116601 non-null  float64
 26  product_description_lenght     116601 non-null  float64
 27  product_photos_qty             116601 non-null  float64
 28  product_weight_g               118290 non-null  float64
 29  product_length_cm              118290 non-null  float64
 30  product_height_cm              118290 non-null  float64
 31  product_width_cm               118290 non-null  float64
 32  seller_zip_code_prefix         118310 non-null  int64
 33  seller_city                    118310 non-null  object
 34  seller_state                   118310 non-null  object
 35  product_category_name_english  116576 non-null  object
 36  payment_sequential             118307 non-null  float64
 37  payment_type                   118307 non-null  object
 38  payment_installments           118307 non-null  float64
 39  payment_value                  118307 non-null  float64
dtypes: float64(13), int64(3), object(24)
memory usage: 37.0+ MB

In [215]:
#create df with only delivered status
delivered_df = all_dfs_merged.query("order_status == 'delivered'")

In [216]:
delivered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115723 entries, 0 to 118309
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115723 non-null  object
 1   order_item_id                  115723 non-null  int64
 2   product_id                     115723 non-null  object
 3   seller_id                      115723 non-null  object
 4   shipping_limit_date            115723 non-null  object
 5   price                          115723 non-null  float64
 6   freight_value                  115723 non-null  float64
 7   customer_id                    115723 non-null  object
 8   order_status                   115723 non-null  object
 9   order_purchase_timestamp       115723 non-null  object
 10  order_approved_at              115708 non-null  object
 11  order_delivered_carrier_date   115721 non-null  object
 12  order_delivered_customer_date  115715 non-null  object
 13  order_estimated_delivery_date  115723 non-null  object
 14  review_id                      114862 non-null  object
 15  review_score                   114862 non-null  float64
 16  review_comment_title           13584 non-null   object
 17  review_comment_message         48095 non-null   object
 18  review_creation_date           114862 non-null  object
 19  review_answer_timestamp        114862 non-null  object
 20  customer_unique_id             115723 non-null  object
 21  customer_zip_code_prefix       115723 non-null  int64
 22  customer_city                  115723 non-null  object
 23  customer_state                 115723 non-null  object
 24  product_category_name          114085 non-null  object
 25  product_name_lenght            114085 non-null  float64
 26  product_description_lenght     114085 non-null  float64
 27  product_photos_qty             114085 non-null  float64
 28  product_weight_g               115703 non-null  float64
 29  product_length_cm              115703 non-null  float64
 30  product_height_cm              115703 non-null  float64
 31  product_width_cm               115703 non-null  float64
 32  seller_zip_code_prefix         115723 non-null  int64
 33  seller_city                    115723 non-null  object
 34  seller_state                   115723 non-null  object
 35  product_category_name_english  114062 non-null  object
 36  payment_sequential             115720 non-null  float64
 37  payment_type                   115720 non-null  object
 38  payment_installments           115720 non-null  float64
 39  payment_value                  115720 non-null  float64
dtypes: float64(13), int64(3), object(24)
memory usage: 36.2+ MB

In [217]:
clean_columns = delivered_df.drop(['order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date', 'review_comment_message', 'review_creation_date','review_answer_timestamp'], axis =1)

In [218]:
clean_columns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115723 entries, 0 to 118309
Data columns (total 34 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115723 non-null  object
 1   order_item_id                  115723 non-null  int64
 2   product_id                     115723 non-null  object
 3   seller_id                      115723 non-null  object
 4   shipping_limit_date            115723 non-null  object
 5   price                          115723 non-null  float64
 6   freight_value                  115723 non-null  float64
 7   customer_id                    115723 non-null  object
 8   order_status                   115723 non-null  object
 9   order_purchase_timestamp       115723 non-null  object
 10  order_approved_at              115708 non-null  object
 11  review_id                      114862 non-null  object
 12  review_score                   114862 non-null  float64
 13  review_comment_title           13584 non-null   object
 14  customer_unique_id             115723 non-null  object
 15  customer_zip_code_prefix       115723 non-null  int64
 16  customer_city                  115723 non-null  object
 17  customer_state                 115723 non-null  object
 18  product_category_name          114085 non-null  object
 19  product_name_lenght            114085 non-null  float64
 20  product_description_lenght     114085 non-null  float64
 21  product_photos_qty             114085 non-null  float64
 22  product_weight_g               115703 non-null  float64
 23  product_length_cm              115703 non-null  float64
 24  product_height_cm              115703 non-null  float64
 25  product_width_cm               115703 non-null  float64
 26  seller_zip_code_prefix         115723 non-null  int64
 27  seller_city                    115723 non-null  object
 28  seller_state                   115723 non-null  object
 29  product_category_name_english  114062 non-null  object
 30  payment_sequential             115720 non-null  float64
 31  payment_type                   115720 non-null  object
 32  payment_installments           115720 non-null  float64
 33  payment_value                  115720 non-null  float64
dtypes: float64(13), int64(3), object(18)
memory usage: 30.9+ MB

In [219]:
df = clean_columns

In [220]:
df.describe()

,order_item_id,price,freight_value,review_score,customer_zip_code_prefix,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,payment_sequential,payment_installments,payment_value
count,115723.000000,115723.000000,115723.00000,114862.000000,115723.000000,114085.000000,114085.000000,114085.000000,115703.000000,115703.000000,115703.000000,115703.000000,115723.00000,115720.000000,115720.000000,115720.000000
mean,1.197048,119.911096,19.98140,4.080488,35079.679519,48.802673,784.854871,2.206408,2105.660303,30.239173,16.579881,23.065046,24454.55110,1.091272,2.940572,171.810794
std,0.701221,182.670252,15.71829,1.347659,29855.201461,10.016562,650.542538,1.717949,3772.580738,16.126537,13.419841,11.732093,27587.60226,0.686737,2.776111,265.642619
min,1.000000,0.850000,0.00000,1.000000,1003.000000,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000,1001.00000,1.000000,0.000000,0.000000
25%,1.000000,39.900000,13.08000,4.000000,11310.000000,42.000000,346.000000,1.000000,300.000000,18.000000,8.000000,15.000000,6429.00000,1.000000,1.000000,60.850000
50%,1.000000,74.900000,16.28000,5.000000,24320.000000,52.000000,600.000000,1.000000,700.000000,25.000000,13.000000,20.000000,13660.00000,1.000000,2.000000,108.110000
75%,1.000000,132.900000,21.16000,5.000000,58805.500000,57.000000,983.000000,3.000000,1800.000000,38.000000,20.000000,30.000000,27930.00000,1.000000,4.000000,188.940000
max,21.000000,6735.000000,409.68000,5.000000,99980.000000,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000,99730.00000,26.000000,24.000000,13664.080000