# 6.2 Exploring relationships

### This script contains the following:

#### 1. Importing Visualization Libraries and Data
#### 2. Data Cleaning
#### 3. Exploring Relationships
     Correlations
     Scatterplots
     Pair Plots
     Categorical Plots

### 1. Importing Visualization Libraries and Data

In [113]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os

In [114]:
pd.set_option('display.max_columns', None)

#### Note about matplotlib:

There are certain bugs associated with some versions of matplotlib. Before you start your analysis, you should check what version you have by typing `matplotlib.__version__` in a Jupyter cell and executing it. If it shows version 3.1.1, you'll likely experience some problems with the way the heatmap appears.

To circumvent this, we recommend opening a new Anaconda terminal and executing this command: `conda update --all`. This will update all of your packages and install the newest version of matplotlib, where this bug has been fixed. 

Then, restart the kernel for your notebook (so it can pick up any changes to your library versions) and rerun your code, which will re-import the libraries in your notebook. Check the version again, and you should have the latest version installed.

In [115]:
matplotlib.__version__

'3.5.1'

In [116]:
# This option ensures the charts you create are displayed in the notebook without the need to "call" them specifically.

%matplotlib inline

In [117]:
# Define path

path = r'/Users/arturassada/Desktop/Brazilian E-Commerce'

In [118]:
# Import data

df = pd.read_csv(os.path.join(path, '02 Data', 'Prepared data', 'data_general.csv'))

In [119]:
df.head(1)

,Unnamed: 0,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,review_id,review_score,review_comment_title,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,product_category_name_english,payment_sequential,payment_type,payment_installments,payment_value
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,97ca439bc427b48bc1cd7177abe71365,5.0,NaN,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP,cool_stuff,1.0,credit_card,2.0,72.19

In [120]:
df.rename(columns={'customer_zip_code_prefix': 'geolocation_zip_code'}, inplace = True)

In [121]:
df.describe()

,Unnamed: 0,order_item_id,price,freight_value,review_score,geolocation_zip_code,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,payment_sequential,payment_installments,payment_value
count,115723.000000,115723.000000,115723.000000,115723.00000,114862.000000,115723.000000,114085.000000,114085.000000,114085.000000,115703.000000,115703.000000,115703.000000,115703.000000,115723.00000,115720.000000,115720.000000,115720.000000
mean,59140.988023,1.197048,119.911096,19.98140,4.080488,35079.679519,48.802673,784.854871,2.206408,2105.660303,30.239173,16.579881,23.065046,24454.55110,1.091272,2.940572,171.810794
std,34133.638211,0.701221,182.670252,15.71829,1.347659,29855.201461,10.016562,650.542538,1.717949,3772.580738,16.126537,13.419841,11.732093,27587.60226,0.686737,2.776111,265.642619
min,0.000000,1.000000,0.850000,0.00000,1.000000,1003.000000,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000,1001.00000,1.000000,0.000000,0.000000
25%,29598.000000,1.000000,39.900000,13.08000,4.000000,11310.000000,42.000000,346.000000,1.000000,300.000000,18.000000,8.000000,15.000000,6429.00000,1.000000,1.000000,60.850000
50%,59140.000000,1.000000,74.900000,16.28000,5.000000,24320.000000,52.000000,600.000000,1.000000,700.000000,25.000000,13.000000,20.000000,13660.00000,1.000000,2.000000,108.110000
75%,88679.500000,1.000000,132.900000,21.16000,5.000000,58805.500000,57.000000,983.000000,3.000000,1800.000000,38.000000,20.000000,30.000000,27930.00000,1.000000,4.000000,188.940000
max,118309.000000,21.000000,6735.000000,409.68000,5.000000,99980.000000,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000,99730.00000,26.000000,24.000000,13664.080000

In [122]:
df1.head(1)

,geolocation_zip_code,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP

In [123]:
df1.rename(columns={'geolocation_zip_code_prefix': 'geolocation_zip_code'}, inplace = True)

In [124]:
df1.head(5)

,geolocation_zip_code,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [125]:
merged_df = pd.merge(df, df1, on='geolocation_zip_code', how='left')

In [126]:
merged_df.head(5)

,Unnamed: 0,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,review_id,review_score,review_comment_title,customer_unique_id,geolocation_zip_code,customer_city,customer_state,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,product_category_name_english,payment_sequential,payment_type,payment_installments,payment_value,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,97ca439bc427b48bc1cd7177abe71365,5.0,NaN,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP,cool_stuff,1.0,credit_card,2.0,72.19,-21.758076,-41.312633,campos dos goytacazes,RJ
1,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,97ca439bc427b48bc1cd7177abe71365,5.0,NaN,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP,cool_stuff,1.0,credit_card,2.0,72.19,-21.758843,-41.306754,campos dos goytacazes,RJ
2,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,97ca439bc427b48bc1cd7177abe71365,5.0,NaN,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP,cool_stuff,1.0,credit_card,2.0,72.19,-21.767046,-41.311328,campos dos goytacazes,RJ
3,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,97ca439bc427b48bc1cd7177abe71365,5.0,NaN,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP,cool_stuff,1.0,credit_card,2.0,72.19,-21.771661,-41.312119,campos dos goytacazes,RJ
4,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,97ca439bc427b48bc1cd7177abe71365,5.0,NaN,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP,cool_stuff,1.0,credit_card,2.0,72.19,-21.763006,-41.306182,campos dos goytacazes,RJ

In [127]:
merged_df.drop(['shipping_limit_date', 'seller_id', 'order_approved_at','product_description_lenght', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm', 'seller_zip_code_prefix', 'seller_city', 'seller_state'], axis=1)

,Unnamed: 0,order_id,order_item_id,product_id,price,freight_value,customer_id,order_status,order_purchase_timestamp,review_id,review_score,review_comment_title,customer_unique_id,geolocation_zip_code,customer_city,customer_state,product_category_name,product_name_lenght,product_photos_qty,product_category_name_english,payment_sequential,payment_type,payment_installments,payment_value,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,97ca439bc427b48bc1cd7177abe71365,5.0,NaN,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,cool_stuff,58.0,4.0,cool_stuff,1.0,credit_card,2.0,72.19,-21.758076,-41.312633,campos dos goytacazes,RJ
1,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,97ca439bc427b48bc1cd7177abe71365,5.0,NaN,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,cool_stuff,58.0,4.0,cool_stuff,1.0,credit_card,2.0,72.19,-21.758843,-41.306754,campos dos goytacazes,RJ
2,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,97ca439bc427b48bc1cd7177abe71365,5.0,NaN,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,cool_stuff,58.0,4.0,cool_stuff,1.0,credit_card,2.0,72.19,-21.767046,-41.311328,campos dos goytacazes,RJ
3,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,97ca439bc427b48bc1cd7177abe71365,5.0,NaN,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,cool_stuff,58.0,4.0,cool_stuff,1.0,credit_card,2.0,72.19,-21.771661,-41.312119,campos dos goytacazes,RJ
4,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,97ca439bc427b48bc1cd7177abe71365,5.0,NaN,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,cool_stuff,58.0,4.0,cool_stuff,1.0,credit_card,2.0,72.19,-21.763006,-41.306182,campos dos goytacazes,RJ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17692290,118309,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,43.0,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,b2700869a37f1aafc9dda829dc2f9027,5.0,NaN,cd76a00d8e3ca5e6ab9ed9ecb6667ac4,18605,botucatu,SP,cama_mesa_banho,47.0,1.0,bed_bath_table,1.0,credit_card,1.0,55.79,-22.934277,-48.454793,botucatu,SP
17692291,118309,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,43.0,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,b2700869a37f1aafc9dda829dc2f9027,5.0,NaN,cd76a00d8e3ca5e6ab9ed9ecb6667ac4,18605,botucatu,SP,cama_mesa_banho,47.0,1.0,bed_bath_table,1.0,credit_card,1.0,55.79,-22.910668,-48.442521,botucatu,SP
17692292,118309,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,43.0,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,b2700869a37f1aafc9dda829dc2f9027,5.0,NaN,cd76a00d8e3ca5e6ab9ed9ecb6667ac4,18605,botucatu,SP,cama_mesa_banho,47.0,1.0,bed_bath_table,1.0,credit_card,1.0,55.79,-22.918155,-48.439639,botucatu,SP
17692293,118309,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,43.0,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,b2700869a37f1aafc9dda829dc2f9027,5.0,NaN,cd76a00d8e3ca5e6ab9ed9ecb6667ac4,18605,botucatu,SP,cama_mesa_banho,47.0,1.0,bed_bath_table,1.0,credit_card,1.0,55.79,-22.906315,-48.444961,botucatu,SP
17692294,118309,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,43.0,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,b2700869a37f1aafc9dda829dc2f9027,5.0,NaN,cd76a00d8e3ca5e6ab9ed9ecb6667ac4,18605,botucatu,SP,cama_mesa_banho,47.0,1.0,bed_bath_table,1.0,credit_card,1.0,55.79,-22.927341,-48.451554,botucatu,SP

In [128]:
merged_df.head(5)

,Unnamed: 0,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,review_id,review_score,review_comment_title,customer_unique_id,geolocation_zip_code,customer_city,customer_state,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,product_category_name_english,payment_sequential,payment_type,payment_installments,payment_value,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,97ca439bc427b48bc1cd7177abe71365,5.0,NaN,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP,cool_stuff,1.0,credit_card,2.0,72.19,-21.758076,-41.312633,campos dos goytacazes,RJ
1,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,97ca439bc427b48bc1cd7177abe71365,5.0,NaN,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP,cool_stuff,1.0,credit_card,2.0,72.19,-21.758843,-41.306754,campos dos goytacazes,RJ
2,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,97ca439bc427b48bc1cd7177abe71365,5.0,NaN,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP,cool_stuff,1.0,credit_card,2.0,72.19,-21.767046,-41.311328,campos dos goytacazes,RJ
3,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,97ca439bc427b48bc1cd7177abe71365,5.0,NaN,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP,cool_stuff,1.0,credit_card,2.0,72.19,-21.771661,-41.312119,campos dos goytacazes,RJ
4,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,97ca439bc427b48bc1cd7177abe71365,5.0,NaN,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,27277,volta redonda,SP,cool_stuff,1.0,credit_card,2.0,72.19,-21.763006,-41.306182,campos dos goytacazes,RJ

In [132]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17692295 entries, 0 to 17692294
Data columns (total 39 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Unnamed: 0                     int64
 1   order_id                       object
 2   order_item_id                  int64
 3   product_id                     object
 4   seller_id                      object
 5   shipping_limit_date            object
 6   price                          float64
 7   freight_value                  float64
 8   customer_id                    object
 9   order_status                   object
 10  order_purchase_timestamp       object
 11  order_approved_at              object
 12  review_id                      object
 13  review_score                   float64
 14  review_comment_title           object
 15  customer_unique_id             object
 16  geolocation_zip_code           int64
 17  customer_city                  object
 18  customer_state                 object
 19  product_category_name          object
 20  product_name_lenght            float64
 21  product_description_lenght     float64
 22  product_photos_qty             float64
 23  product_weight_g               float64
 24  product_length_cm              float64
 25  product_height_cm              float64
 26  product_width_cm               float64
 27  seller_zip_code_prefix         int64
 28  seller_city                    object
 29  seller_state                   object
 30  product_category_name_english  object
 31  payment_sequential             float64
 32  payment_type                   object
 33  payment_installments           float64
 34  payment_value                  float64
 35  geolocation_lat                float64
 36  geolocation_lng                float64
 37  geolocation_city               object
 38  geolocation_state              object
dtypes: float64(15), int64(4), object(20)
memory usage: 5.3+ GB

In [129]:
merged_df.isnull().sum()

Unnamed: 0                              0
order_id                                0
order_item_id                           0
product_id                              0
seller_id                               0
shipping_limit_date                     0
price                                   0
freight_value                           0
customer_id                             0
order_status                            0
order_purchase_timestamp                0
order_approved_at                    2994
review_id                          123389
review_score                       123389
review_comment_title             15715228
customer_unique_id                      0
geolocation_zip_code                    0
customer_city                           0
customer_state                          0
product_category_name              251499
product_name_lenght                251499
product_description_lenght         251499
product_photos_qty                 251499
product_weight_g                     3678
product_length_cm                    3678
product_height_cm                    3678
product_width_cm                     3678
seller_zip_code_prefix                  0
seller_city                             0
seller_state                            0
product_category_name_english      254907
payment_sequential                   1035
payment_type                         1035
payment_installments                 1035
payment_value                        1035
geolocation_lat                       303
geolocation_lng                       303
geolocation_city                      303
geolocation_state                     303
dtype: int64

In [130]:
newdf = merged_df.dropna()

In [131]:
newdf.isnull().sum()

Unnamed: 0                       0
order_id                         0
order_item_id                    0
product_id                       0
seller_id                        0
shipping_limit_date              0
price                            0
freight_value                    0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
review_id                        0
review_score                     0
review_comment_title             0
customer_unique_id               0
geolocation_zip_code             0
customer_city                    0
customer_state                   0
product_category_name            0
product_name_lenght              0
product_description_lenght       0
product_photos_qty               0
product_weight_g                 0
product_length_cm                0
product_height_cm                0
product_width_cm                 0
seller_zip_code_prefix           0
seller_city                      0
seller_state                     0
product_category_name_english    0
payment_sequential               0
payment_type                     0
payment_installments             0
payment_value                    0
geolocation_lat                  0
geolocation_lng                  0
geolocation_city                 0
geolocation_state                0
dtype: int64

In [133]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1964843 entries, 2374 to 17686615
Data columns (total 39 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Unnamed: 0                     int64
 1   order_id                       object
 2   order_item_id                  int64
 3   product_id                     object
 4   seller_id                      object
 5   shipping_limit_date            object
 6   price                          float64
 7   freight_value                  float64
 8   customer_id                    object
 9   order_status                   object
 10  order_purchase_timestamp       object
 11  order_approved_at              object
 12  review_id                      object
 13  review_score                   float64
 14  review_comment_title           object
 15  customer_unique_id             object
 16  geolocation_zip_code           int64
 17  customer_city                  object
 18  customer_state                 object
 19  product_category_name          object
 20  product_name_lenght            float64
 21  product_description_lenght     float64
 22  product_photos_qty             float64
 23  product_weight_g               float64
 24  product_length_cm              float64
 25  product_height_cm              float64
 26  product_width_cm               float64
 27  seller_zip_code_prefix         int64
 28  seller_city                    object
 29  seller_state                   object
 30  product_category_name_english  object
 31  payment_sequential             float64
 32  payment_type                   object
 33  payment_installments           float64
 34  payment_value                  float64
 35  geolocation_lat                float64
 36  geolocation_lng                float64
 37  geolocation_city               object
 38  geolocation_state              object
dtypes: float64(15), int64(4), object(20)
memory usage: 599.6+ MB

In [134]:
df.to_csv(os.path.join(path, '02 Data', 'Prepared data', 'data_general_clean.csv'))